.footer {
    background-image: linear-gradient(41deg,rgba(106, 13, 173, 1) 0%, rgba(146, 0, 219, 0.68) 99%);
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.footerContent {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.navLinks {
    display: flex;
    gap: 20px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    cursor: pointer;
}

.navLinks a {
    text-decoration: none;
    color: #9e9e9e;
    font-weight: 500;
}

.navLinks a:hover {
    color: #0066cc;
}

.footerBottom {
    text-align: center;
}

.legalLinks {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.legalLinks a {
    text-decoration: none;
    color: #9e9e9e;
    font-size: 0.9em;
}

.legalLinks a:hover {
    color: #0066cc;
    text-decoration: underline;
}
