.search-input {
    width: 100%;
    border-radius: 15px;
    padding: 0.4rem 0.6rem;
    background-color: rgba(177, 177, 177, 0.2);
    border: 1px solid #8200d1;
    color: #fff;
}

.search-input:focus {
    outline: none;
    border-color: #4a90e2;
    box-shadow: 0 0 0 2px rgba(74, 144, 226, 0.2);
}
